<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q&amp;A</key>
	<dict>
		<key>onlookers_amount</key>
		<integer>100</integer>
		<key>apply_amount</key>
		<integer>200</integer>
	</dict>
	<key>currency</key>
	<dict>
		<key>settings</key>
		<dict>
			<key>recharge-options</key>
			<string>1,10,20</string>
		</dict>
		<key>recharge</key>
		<dict>
			<key>status</key>
			<true/>
		</dict>
		<key>cash</key>
		<dict>
			<key>status</key>
			<true/>
		</dict>
		<key>IAP</key>
		<dict>
			<key>only</key>
			<true/>
		</dict>
	</dict>
	<key>wallet</key>
	<dict>
		<key>ratio</key>
		<integer>100</integer>
		<key>cash</key>
		<dict>
			<key>status</key>
			<true/>
		</dict>
		<key>recharge</key>
		<dict>
			<key>types</key>
			<array>
				<string>alipay_wap</string>
				<string>alipay_pc_direct</string>
				<string>wx_wap</string>
				<string>wx</string>
				<string>alipay</string>
				<string>alipay_qr</string>
			</array>
			<key>status</key>
			<true/>
		</dict>
		<key>transform-currency</key>
		<true/>
	</dict>
	<key>group:reward</key>
	<dict>
		<key>status</key>
		<false/>
	</dict>
	<key>group:create</key>
	<dict>
		<key>need_verified</key>
		<false/>
	</dict>
	<key>ad</key>
	<array/>
	<key>feed</key>
	<dict>
		<key>items</key>
		<array>
			<integer>100</integer>
			<string>500</string>
			<string>1000</string>
		</array>
		<key>paycontrol</key>
		<true/>
		<key>reward</key>
		<false/>
	</dict>
	<key>news</key>
	<dict>
		<key>pay_conyribute</key>
		<integer>0</integer>
		<key>contribute</key>
		<dict>
			<key>verified</key>
			<false/>
			<key>pay</key>
			<false/>
		</dict>
	</dict>
	<key>registerSettings</key>
	<dict>
		<key>completeData</key>
		<false/>
		<key>content</key>
		<string>不让注册</string>
		<key>method</key>
		<string></string>
		<key>open</key>
		<true/>
		<key>showTerms</key>
		<false/>
		<key>type</key>
		<string>all</string>
	</dict>
	<key>site</key>
	<dict>
		<key>user_invite_template</key>
		<string>邀请你的好友使用TS+吧！http://www.thinksns.com/</string>
		<key>currency_name</key>
		<dict>
			<key>name</key>
			<string>积分</string>
		</dict>
		<key>reserved_nickname</key>
		<string>root,admin</string>
		<key>reward</key>
		<dict>
			<key>status</key>
			<false/>
			<key>amounts</key>
			<string>5,10,15</string>
		</dict>
	</dict>
	<key>wallet:ratio</key>
	<integer>100</integer>
	<key>limit</key>
	<integer>10</integer>
</dict>
</plist>
